absl-py==2.1.0
aiobotocore
aiofiles
aiohttp
aioitertools
aiosignal
aiosqlite
alabaster
anaconda-anon-usage
anaconda-catalogs
anaconda-client
anaconda-cloud-auth
anaconda-navigator
anaconda-project
anyio
appdirs==1.4.4
applaunchservices
appnope
appscript
argon2-cffi
argon2-cffi-bindings
arrow
ase==3.22.1
astroid
astropy
asttokens
astunparse==1.6.3
async-timeout
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
base32hex==1.0.2
bcrypt
beautifulsoup4
bibtexparser==1.4.1
binaryornot
black
bleach
blosc2==2.0.0
bokeh
boltons
botocore
Bottleneck==1.4.0
brotlipy==0.7.0
certifi
cffi
chardet
charset-normalizer
citation==0.0.2
click
cloudpickle
clyent==1.2.2
colorama
colorcet
comm
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli==1.0.75
conda-token
conda-verify==3.4.2
conda_index
conda_package_streaming
constantly==15.1.0
contourpy
cookiecutter
cryptography
cssselect==1.1.0
cycler
Cython==3.0.11
cytoolz
dask
datasets
datashader
datashape==0.5.4
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
docstring-to-markdown
docutils
entrypoints
et-xmlfile==1.1.0
execnet==2.0.2
executing
fastjsonschema
filelock
flake8
Flask
flatbuffers==24.3.25
fonttools==4.25.0
frozenlist
fsspec
fst-pso==1.8.1
future
FuzzyTM==2.0.9
gast==0.6.0
gensim
gevent==23.9.1
glob2
gmpy2
google-pasta==0.2.0
greenlet
grpcio==1.65.4
h5py==3.11.0
HeapDict
holoviews
huggingface-hub
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isodate==0.6.1
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jinja2-time
jmespath
joblib
json5
jsonpatch
jsonpickle==3.3.0
jsonpointer==2.1
jsonschema
jupyter
jupyter-console
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-events
jupyter-highlight-selected-word==0.2.0
jupyter-nbextensions-configurator==0.6.3
jupyter-server
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server_fileid
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kaleido
keras==3.5.0
keyring
kiwisolver
latexcodec==3.0.0
lazy-object-proxy
lazy_loader
libarchive-c
libclang==18.1.1
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.8.2
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
miniful==0.0.6
mistune
ml-dtypes==0.4.0
mnemonic==0.21
monty==2024.7.30
more-itertools
mpmath
msgpack
multidict
multipledispatch
multiprocess
munkres==1.1.4
mypy-extensions
namex==0.0.8
navigator-updater
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy==1.26.4
numpydoc
openpyxl==3.0.10
opt-einsum==3.3.0
optree==0.12.1
packaging
palettable==3.3.3
pandas==2.2.2
pandocfilters
panel
param
parsel
parso
partd
pathlib
pathspec
patsy==0.5.3
pep8==1.7.1
pexpect
pickleshare
Pillow
pkce
pkginfo
platformdirs
plotly
pluggy
ply==3.11
poyo
prometheus-client
prompt-toolkit
Protego
protobuf==4.25.4
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow==11.0.0
pyasn1
pyasn1-modules==0.2.8
pybtex==0.24.0
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic
PyDispatcher==2.0.5
pydocstyle
pydotplus==2.0.2
pyee==8.2.2
pyerfa
pyflakes
pyFUME==0.3.4
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
pymatgen==2024.8.9
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-CoreServices
pyobjc-framework-FSEvents
pyodbc
pyOpenSSL
pyparsing
pyppeteer==1.0.2
PyQt5-sip==12.11.0
pyrsistent
PySocks
pytest
pytest-mock==3.12.0
pytest-xdist==3.5.0
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-slugify
python-snappy
pytoolconfig
pytz
pyvis==0.3.2
pyviz-comms
PyWavelets
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib==1.5.0
rdflib==7.0.0
regex
requests==2.32.3
requests-file
requests-toolbelt
responses
rfc3339-validator
rfc3986-validator
rich==13.7.1
rope
route==0.1.4
Rtree
ruamel-yaml-conda
ruamel.yaml
s3fs
safetensors
scikit-image
scikit-learn==1.5.1
scipy==1.14.1
Scrapy
seaborn
Send2Trash
service-identity
simpful==2.12.0
sip
six
smart-open
sniffio
snowballstemmer
sortedcontainers
soupsieve
spglib==2.5.0
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
stack-data
statsmodels
sympy
tables
tabulate==0.9.0
tblib
tenacity
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
terminado
text-unidecode
textdistance
threadpoolctl==3.5.0
three-merge
tifffile
tinycss2
tldextract
tokenizers
toml
tomlkit
toolz
torch==2.4.0
torchvision
tornado
tqdm
traitlets
transformers
Twisted
typing_extensions
tzdata
uc-micro-py
ujson
uncertainties==3.2.2
Unidecode
urllib3
w3lib
watchdog
wcwidth
webencodings==0.5.1
websocket-client
websockets==10.4
Werkzeug
wget==3.2
whatthepatch
widgetsnbextension
wrapt
wurlitzer
xarray
xlwings
xxhash
xyzservices
y-py
yapf
yarl
ypy-websocket
zict
zipp
zope.event==5.0
zope.interface
zstandard
