setuptools~=65.5.0asttokens==2.4.1
decorator==5.1.1
-e git+ssh://git@github.com/materials-discovery/discomat.git@60d037677ab40cc9229c61918d997b5f8bd25a0f#egg=discomat&subdirectory=discomat
executing==2.0.1
ipython==8.26.0
isodate==0.6.1
jedi==0.19.1
Jinja2==3.1.4
jsonpickle==3.2.2
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
networkx==3.3
parso==0.8.4
pexpect==4.9.0
prompt_toolkit==3.0.47
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
pyparsing==3.1.2
pyvis==0.3.2
rdflib==7.0.0
six==1.16.0
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.12.2
wcwidth==0.2.13
